body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f7f6;
    color: #111111;
}

header {
    background-color: #0c0c0c;
    color: white;

    align-items: center;
    padding: 2rem;
    text-align: center;
}

nav ul {
    display: flex;          /* Aligne les éléments horizontalement */
    justify-content: center; /* Centre le menu horizontalement */
    list-style-type: none;  /* Enlève les petits points blancs */
    padding: 0;             /* Enlève l'espace vide à gauche */
    margin: 0;              /* Enlève les marges par défaut */
}

nav li {
    margin: 0 15px;         /* Ajoute de l'espace entre chaque lien */
}

nav a {
    color: #3498db;         /* Change le bleu foncé par un bleu plus clair et lisible */
    text-decoration: none;  /* Enlève le soulignement moche */
    font-weight: bold;      /* Met le texte un peu plus épais */
    transition: 0.3s;       /* Pour un effet fluide au survol */
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#home {
    background: white;
    padding: 30px;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

button {
    background-color: #3498db;
    color: rgb(56, 13, 13);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px
}

button:hover {
    background-color: #2980b9;
}
.contenu {
   display: none;
}
.contenu.active {
    display: block;
}

